*{
    margin: 0ch;
    box-sizing: border-box;
    /* height: max-content; */
}
body {
    font-family: "Helvetica Neue", sans-serif;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    width: 100vw;
}
.contai{
    margin: auto;
    background-color: black;
    border-radius: 40px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    display: grid;
    text-align: right;
    width: 350px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-height: fit-content;
    margin: 1.5rem .8rem 1rem;
    width: 325px;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70%;
    margin: .3rem;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: 14px 20px;
}
.top3{
    background-color: #A5A5A5;
    color: black;
}
.numbers{
    background-color: #333333;
    margin-bottom: 10px;
}
.symbols{
    background-color: #F1A33C;
}
.content0{
    padding: 35px 1rem;
    color: beige;
    margin: 1rem .7rem 0;
    height: 50px;
    font-size: 1.5rem;
}
.rakamlar{
    border: 2px solid red;
}
.content1{
    font-size: 1.5rem;
}
.content17{
    grid-area: 5/1/5/3;
    justify-content: left;
    border-radius: 0;
    border-radius: 40px;
    padding-left: 2rem;
}
.btn:hover{
    cursor: pointer;
    opacity: .5;
}

.dot{
    background-color: #333333;
}